{
    "plugins": ["prettier-plugin-blade", "prettier-plugin-tailwindcss"],
    "semi": false,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "none",
    "printWidth": 100,
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade",
                "singleQuote": true,
                "singleAttributePerLine": true,
                "sortTailwindcssClasses": true,
                "bladePhpFormattingTargets": [
                    "directiveArgs", 
                    "phpBlock", 
                    "phpTag"
                ],
                "bladeDirectiveArgSpacing": "preserve",
                "bladeDirectiveArgSpacingOverrides": [
                    "if",
                    "elseif",
                    "unless",
                    "while",
                    "for",
                    "foreach",
                    "forelse",
                    "switch",
                    "case"
                ],
                "bladeEchoSpacing": "preserve"
            }
        }
    ]
}
