@import url(https://fonts.bunny.net/css?family=markazi-text:100,200,300,400,500,600,700,800,900|reddit-mono:200,300,400,500,600,700,800,900|reddit-sans:200,300,400,500,600,700,800,900);

@import "tailwindcss";
@plugin "@iconify/tailwind4";

@source "../views";
@import "overlayscrollbars/overlayscrollbars.css";

@theme {
    --font-serif: "Markazi Text", serif;
    --font-sans: "Reddit Sans", sans-serif;
    --font-mono: "Reddit Mono", "Consolas", monospace;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: var(--font-sans);
}

a,
button,
button:not(disabled) {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

dialog#livewire-error {
    width: calc(100% - 4rem) !important;
    height: calc(100% - 4rem) !important;
    margin: 2rem !important;
}

::selection {
    background-color: #544636;
    color: #fdfcfa;
}

[x-cloak] {
    display: none !important;
}
